<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rango</title>
</head>
<body>
    <div>
        {% if category %}
            <h1>{{ category.name }}</h1>
            {% if pages %}
                <ul>
                    {% for page in pages %}
                        <li><a href="{{ page.url }}">{{ page.title }}</a> </li>
                    {% endfor %}
                </ul>
            {% else %}
                <strong>No pages in category!</strong>
            <{% endif %}
            <br/>
            <a href="{% url 'add_page' category.slug %}">Add Page</a><br/>
        {% else %}
            The specified category doesn't exits!
        {% endif %}
    </div>
    <div>
        <a href="{% url 'index' %}">Home</a>
    </div>
</body>
</html>